.profile-dropdown-navbar {
  position: relative;
}

.profile-icon {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
}

.profile-icon:hover {
  color: var(--secondary-purple);
}

.dropdown-menu {
  position: sticky;
  top: 50px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px;
  margin: 5px 5px;
  border: none;
  background: var(--primary-purple);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dropdown-menu button:hover {
  background: var(--secondary-purple);
  cursor: pointer;
}
